/* Styling for header and navigation */


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}
/* Add this CSS to your about.css or create a new CSS file for the About page */

.story {
  line-height: 1.6;
  margin-bottom: 30px;
}

.story h2 {
  color:#000000;
  font-size: 28px;
  margin-bottom: 15px;
}

.story p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Adjust the font sizes and margins according to your preference */

/* Add any other styles as needed for your specific design */

/* Styling for hero section */
.hero {
  /* background-image: url('public/images/editing_editing_0009.jpg'); */
  background-size: cover;
  background-position: center;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
}

.hero-text {
  color:#000000;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Styling for newsletter section */
.newsletter {
  background-color: #c9c9c9;
  padding: 40px 0;
  text-align: center;
}

.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
}

#newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter-form input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

#newsletter-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Styling for the image gallery */
.gallery {
  text-align: center;
  padding: 20px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.image-gallery a {
  display: block;
}

.image-gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image-gallery img:hover {
  transform: scale(1.05);
}


