 body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
        }

        .Header {
            letter-spacing: 30px; /* Add some letter spacing for a modern touch */
            color: #000000; /* Choose a text color that contrasts well with the background */
            text-align: left;
            margin-top: 14px;
           
        }

        .TextLogo {
            font-size: 55px;
            
            color: rgb(255, 142, 251); 
            letter-spacing: 30px; /* Add some letter spacing for a modern touch */
            text-transform: uppercase; /* Convert text to uppercase */
            text-align: left; /* Align text to the left */
            margin-left:0; /* Add left margin for indentation */
         
        }


h3 {

  font-size: 45px;
  margin: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #000000; /* Set text color to white for contrast */
  text-align: center; /* Center-align the text */
  padding: 20px; /* Add padding for spacing around the text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
}

        h1 {
            text-align: center;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        textarea {
            resize: vertical;
            height: 150px;
        }
        input[type="submit"] {
            background-color:  #ff0000;
            color: rgb(255, 255, 255);
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }
        input[type="submit"]:hover {
            background-color: #870000;
        }
        .dropdown:hover .dropdown-content {
  display: block;
  /* Add transition for smoother appearance */
  transition: display 0.2s ease-in-out;
}
