
h2 {
  font-size: 32px; /* Smaller font size for a sleeker appearance */
  font-family: Arial, Helvetica, sans-serif;
  color: #333; /* Dark gray text color for better readability */
  text-align: center;
  padding: 10px 0; /* Reduce padding for a more compact design */
  text-transform: uppercase; /* Uppercase the text for a modern touch */
  letter-spacing: 2px; /* Add letter spacing for better spacing */
}


.Header {
  display: flex;
  align-items: center; /* Centers items vertically within the container */
  justify-content: space-between; /* Distributes items evenly along the container */
}

.HeaderLogoOne,
.HeaderLogoTwo,
.TextLogo {
  flex: 1; /* Each item will take an equal share of available space */
  text-align: center; /* Centers the image horizontally within each div */
  margin-bottom: 25px;
}



/* NAVBAR */
div.scrollmenu {
  margin-top: 20px;
  overflow: auto;
  white-space: nowrap;
  display: flex; /* Use flexbox to manage layout */
  justify-content: center; /* Center the links horizontally */
}

.navbar-link {
  padding: 16px 16px;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  text-align: center;

  margin: 0 100px; /* Adjust as needed */
}

.navbar-link:hover {
  background-color: #848484;;
}

div.scrollmenu a {
  margin-left: 200px;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;

  font-size: 25px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color:  #e4e4e4;

  border-radius: 20px;
}










/*  GRID PICTURE */
.buttonContainer{
   display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px; /* Adjust the margin as needed */

}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center; 
}

/* Create two equal columns that sits next to each other */
/* Create two equal columns that sits next to each other */
.column {
  margin-left: 40px;
  margin-right: 30px;
  flex: 1;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.column img {
  width: 100%;
  max-width: 100%; /* Ensure the image does not exceed the column's width */
  margin-top: 8px;
  align-self: center; /* Center the image within the column vertically */
}

