/* Assuming you have already defined the styles for .MainDiv and other elements */

.Header {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.HeaderLogo{
  flex-grow: 1;
  margin: 40px;
  margin-left: 30px;
}
.TextLogo {
  margin-top: 45px;
  margin-right: 450px;
  margin-bottom: 45px;
 
   

 }




/* NAVBAR */
div.scrollmenu {
  background-color: #ececec;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
      margin-left: 300px;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 25px;
  font-size: 30px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #ffe0f9;
  border-radius: 20px;
}
/* SLIDESHOW */
/* Slideshow container */
.slideshow-container {
  margin-top: 60px;  
  max-width: 1000px;
  position: relative;
  margin-left: 700px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*  GRID PICTURE */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 1;
  padding: 0 4px;
}

.column img {
  width: 50%;
  margin-top: 8px;
  vertical-align: middle;
}