body {
  overflow-x: hidden;
}




html {
height:100.1%;
}
.Header {

  display: flex;
  align-items: center; /* Centers items vertically within the container */
  justify-content: space-between; /* Distributes items evenly along the container */
}

.HeaderLogoOne,
.HeaderLogoTwo,
.TextLogo {
  
  flex: 1; /* Each item will take an equal share of available space */
  text-align: center; /* Centers the image horizontally within each div */
  margin-top: 25px;
  margin-bottom: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  transform: scale(1); /* Reset the scale */
  border-radius: 50%; /* Adjust the border-radius */
  background-size: 50%; /* Adjust the background size */
  background-color: #ff0000; /* Keep the background color */
}

/* Add a media query to apply the styles only on small screens */
@media (max-width: 768px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    transform: scale(1.8);
    border-radius: 100px;
    background-size: 20px;
  }
}



.carousel-inner img {
  margin-top: 40px;
  max-width: 28%; 
  height: auto; /* Maintain the aspect ratio */
;
}


/*  GRID PICTURE */



.row {
  display: flex;
  flex-wrap: wrap;
 justify-content: center; /* Center the columns horizontally */
}


/* Create two equal columns that sits next to each other */
.column {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding: 0 20px;
}

.column img {
  width: 100%;
  max-width: 100%; /* Ensure the image does not exceed the column's width */
  margin-top: 20px;


  align-self: center; /* Center the image within the column vertically */
}

@media (max-width: 768px) {
  /* Custom styles for small screens */
}
