.Header {

  display: flex;
  align-items: center; /* Centers items vertically within the container */
  justify-content: space-between; /* Distributes items evenly along the container */
}

.HeaderLogoOne,
.HeaderLogoTwo,
.TextLogo {
  
  flex: 1; /* Each item will take an equal share of available space */
  text-align: center; /* Centers the image horizontally within each div */
  margin-top: 25px;
  margin-bottom: 10px;
}

#carouselExampleAutoplaying .carousel-control-prev-icon,
#carouselExampleAutoplaying .carousel-control-next-icon {
    color: black !important;
}


.carousel-inner{
background-color: #dedbdb;
}

.carousel-inner img {
  max-width: 33%; 
  height: auto; /* Maintain the aspect ratio */
  margin-left: 70vh;
}


/*  GRID PICTURE */
.buttonContainer{
   display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px; /* Adjust the margin as needed */

}
/* Button animation */
.button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px; 
  margin-bottom: 15px;
  font-size: 10px;
  
  color: #000000;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Hover animation */
.button:hover {
  background-color: #45a049; /* Slightly darker shade when hovered */
  transform: scale(1.1); /* Enlarge the button on hover */
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
/* Create two equal columns that sits next to each other */
.column {
  flex: 1;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.column img {
  width: 50%;
  max-width: 100%; /* Ensure the image does not exceed the column's width */
  margin-top: 8px;
  align-self: center; /* Center the image within the column vertically */
}

@media (max-width: 768px) {
  /* Custom styles for small screens */
}
